@charset "UTF-8";
*{
	/* 옆에 여백 없앰 */
    box-sizing: border-box;	
}

body {
     font-family: 'myriad'; /* 폰트 수정 */
    background-color: #f7f4ef;
    margin: 0;
    padding: 0;
   /*  color: #7b6e48; */
}
#wrap{
	position: relative;
	width: 100%;
	height: 100%;
}

p {
	margin-left:10px;
}
table{
	width:100%;
	margin-bottom:20px;
}
.important{
	width:70%
}
.board{
	margin-bottom:20px;
}

.container {
	padding: 20px;
    width: 80%;
 	margin: 50px auto;
    /* background-color: white;  */
    height:auto;
    overflow:hidden;
    border-radius: 10px;
    background-color: #e5e0da;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* 색상수정 */
    color: #7e7b46;
}

.horizontal_box .name{
	width:20%;
}
.temp {
	display: flex;
	flex-direction: row;
	/* 가로 배열 */
	justify-content: space-between;
	flex-wrap: nowrap;
	/* 가로 배열 */
	column-gap: 40px;
	margin-left: 20px;
	margin-right: 20px;
}
.horizontal_box {
	display: flex;
	flex-direction: column;
	row-gap: 1px;
}
.horizontal_box label {
    display: block;
    padding: 0 10px 0 10px;
    /* 색상 변경 */
    color: #7e7b46;
    /* 폰트 사이즈 수정 */
	font-size: 1.25em;
}
.horizontal_box input {
    width: 97%;
    padding: 10px;
    /* 색상 수정 */
    color: #7e7b46;
    background-color: #e9e5e0;
    border-style:none;
    border-radius: 5px;
        font-size: 1em;
}

.box_rowContents {
	 display: flex; 
	flex-direction: row;
}
label{
	/* 색상 수정 */
	color: #7e7b46;
	/* 폰트 사이즈 수정 */
	font-size: 1em;
}
.left, .right {
	/* 너비 수정 */
	width:48%;
    display:inline-block; 
    /* 추가 */
	min-width: 300px;
}

/* 버튼을 가운데 정렬 */
.button-container {
    display: flex;
    justify-content: center; /* 가로로 가운데 정렬 */
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    text-align: center;
    /* 색상 수정 */
    color: #7e7b46;
    /* 하단 여백 추가 */
    margin-bottom: 5%;
    /* 폰트 사이즈 수정 */
    font-size:  2.25em;
}

h4 {
    display: block;
    margin-top: 10px;
    /* 색상 수정 */
    color: #7e7b46;
}

input, textarea {
	display: inline-black;
	width: 100%;
    padding: 10px 0 10px 0;
    background-color: #e9e5e0;
    border-style:none;
    border-radius: 5px;
}

/* 우편번호 너비 수정 */
.box_rowContents input{
	width: 30%;
}

.phone-number { /* 전화번호 너비 추가 */
	display: inline;
	/* display: flex; */
	flex-direction: row;
	 width: 155%;
}
.tellecom{
	margin-right: 20px;
	width: 10%;
    padding: 10px 0 10px 0;
    background-color: #e9e5e0;
    border-style:none;
    border-radius: 5px;
}
.phone-number input {
    width: 20%;
    display: inline-block;
}


.zipcode button {
  	padding: 10px;
/*   너비 수정	width: 200px; */
	width: 20%;
	min-width: 150px;
	max-width: 200px;
/* 색상수정 */
    background-color: #7e7b46;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
/*  제거 margin-left: auto; */
}

.submit-btn {
   display: block;
    width: 30%;
    max-width: 250px;
    margin: 20px auto;
    padding: 10px;
    background-color: #7e7b46;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.25em;
    
}
.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9e5e0;
    /* padding 추가 */
    padding: 5px;
}

.search-box i {
	color: #888;
    margin-left: 10px;
}

.search-box input {
    border: none;
    outline: none;
    /* 너비, 배경색 수정, padding 추가*/
    width: 70%;
    background-color: #e9e5e0;
    padding: 5px;
    
    font-size: 1em;
}

.search-box input::placeholder {
    color: #aaa;
}
/* 전체 수정 */
select{
	background : transparent;
	border: none;
	color: #7e7b46;
	font-size : 1.0em;
	float:right;
	width:45%;
}

.moveTopBtn {
	align:center;
	text-align: center;
	width: 20%;
   padding: 10px; 
   /* 색상 수정 */
    background-color: #7e7b46;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 0 auto; 
     cursor: pointer;
}
.moveCS{
	margin: 0 auto;
	text-align: center;
}
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce){
	html{
		scroll-behavior: auto;
	}
}

/* 추가 */

button {
    background-color: transparent; 
    color: #7e7b46; 
    border: 1px solid #7e7b46; 
    border-radius: 5px; 
    padding: 3px;
    cursor: pointer; 
    font-size: 1em; 
    margin-left: 10px; 
}

.search-box button{
	margin-top: 0;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	background: transparent;
}

#currentSupplementList{
	height: 350px; /* div의 높이- %로 설정시 추가 할때 마다 길이 늘어남*/
    overflow-y: auto; /* 스크롤 설정 */
} 

#supplementList{
	margin-top: 10px;
    height: 350px; /* div의 높이 */
    overflow-y: auto; /* 스크롤 설정 */
    margin-bottom: 10px;
    padding-left: 16px;
}

.supList{
	margin-top: 20px;
}
.supList label{
	font-size: 1.25em;
}
li {
    padding-left: 10px; /* 기호와 텍스트 사이의 거리 */
    padding-bottom: 0.5em; /* 다른 줄과의 거리 */
}

#supplementList button:hover,
#currentSupplementList button:hover {
    background-color: #7e7b46; 
    color: #fff; 
    border: 1px solid #7e7b46; 
    border-radius: 5px; 
    font-size: 1em; 
    margin-left: 10px; 
}

li::marker {
    font-size: 1em;
}
